libeigen3-dev
libopencv-dev
libproj-dev
nlohmann-json3-dev

zsh
git
curl
wget
ca-certificates

build-essential
cmake

fzf
zsh-syntax-highlighting
zsh-autosuggestions

htop
tree
bat
ripgrep
ccache
gdb

python3-pip
python3-pytest
python3-colcon-common-extensions

ros-jazzy-rqt
ros-jazzy-rqt-common-plugins
ros-jazzy-rclcpp-components
ros-jazzy-cv-bridge
ros-jazzy-foxglove-bridge
ros-jazzy-ros2trace
ros-jazzy-tracetools-analysis
babeltrace
lttng-modules-dkms

x11-apps
libx11-6
libxext6
libxrender1
libxtst6
libxi6
libgl1
mesa-utils
